{
  "extends": [
    "react-app",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules": {
    "jsx-pascal-case": 0 // æøå er ikke godkjent, ønsker derfor å skru av denne regelen men får ikke til :-(
  }
}