  #ny-modia-knapp {
    &:hover {
      background-color: var(--ax-bg-neutral-moderate);
      outline: none;
      cursor: pointer;

      span {
        color: black;
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px #ffbd66;
    }

  }
