.dekorator .personsok-button {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background: none;
    border: none;
    font-size: 1em;
    padding: 0;
    margin-right: 0.5em;
    background-color: white;

    span {
        color: var(--ax-text-neutral);
        width: 34px;
        height: 34px;
        border-radius: 34px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        padding-top: 6px;
        pointer-events: none;
    }
    &:hover {
        background-color: var(--ax-bg-accent-strong-hover);
        outline: none;
        cursor: pointer;
        span {
            color: white;
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px #ffbd66;
    }
    &:active {
    }
}
