@import '~nav-frontend-core';

.personsok-button,
#toggle-personsok {
    #hentPerson & {
        margin: -3px 0 0 17px;
    }
    .personpanel & {
        margin: -6px 0 0 17px;
    }
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background: none;
    border: none;
    font-size: 1em;
    padding: 0;
    margin-right: 1.5em;

    span {
        color: @navMorkGra;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        text-align: center;
        vertical-align: middle;
        background-color: #fff;
        display: inline-block;
        padding-top: 9px;
    }
    &:hover span {
        background-color: @navBlaDarken40;
        outline: none;
        color: white;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px @fokusFarge;
    }
    &:active {
        .personsok-pil {
            border-top: none;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid @navMorkGra;
        }
    }
    .personsok-pil {
        display: block;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0 auto;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid @navMorkGra;
    }
}
