.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        'list view'
        'list alert'
        'list action';
    grid-template-columns: minmax(10rem, 20rem) auto;
    grid-template-rows: 1fr min-content minmax(6.375rem, auto);
}

.list {
    grid-area: list;
    background-color: #f5f5f5;
    border-right: 1px solid #c6c2bf;
    overflow: hidden scroll;
    height: 100%;
}

.view {
    grid-area: view;
    border-bottom: 1px solid #c6c2bf;
    padding: 1rem;
    overflow: hidden scroll;
    height: 100%;
}

.alert {
    grid-area: alert;
    margin: 0;
    border-radius: 0;
}

.action {
    grid-area: action;
    background-color: #f5f5f5;
    padding: 1rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.melding {
    padding-left: 0.5rem;
    border-bottom: 1px solid #c6c2bf;
}
.melding :global(.skjemaelement__label) {
    width: 100%;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
}
.melding :global(.skjemaelement__label::before) {
    top: 0.5rem;
}

.ingenvalgte {
    text-align: center;
    margin-top: 3rem;
    color: #b7b1a9;
}
