.person-sidebar {
    --ac-button-tertiary-text: var(--a-text-default);

    --ac-button-tertiary-hover-bg: var(--a-surface-alt-1-subtle);
    --ac-button-tertiary-hover-text: var(--a-text-default);

    --ac-button-tertiary-active-bg: var(--a-surface-alt-1);
    --ac-button-tertiary-active-hover-bg: var(--a-surface-alt-1);
    --ac-button-tertiary-active-hover-text: var(--a-text-on-alt-1);
    --ac-button-tertiary-active-text: var(--a-text-on-alt-1);

    --ac-toggle-group-selected-bg: var(--a-surface-alt-1);
    --ac-toggle-group-button-hover-bg: var(--a-surface-alt-1-subtle);
}

[data-theme="dark"] .person-sidebar {
    --ac-button-tertiary-hover-bg: var(--a-surface-alt-1-moderate);
    --ac-toggle-group-button-hover-bg: var(--a-surface-alt-1-moderate);

    --ac-button-tertiary-hover-text: var(--a-text-on-alt-1);
    --ac-toggle-group-button-hover-text: var(--a-text-on-alt-1);
}
