//Denne fila bør trekkes inn i Enkeltmelding.tsx for å fjerne forvirring rundt styling når vi er kvitt gamle modiabrukerdialog
.snakkeboble_ikoner {
    .nav-ikon,
    .bruker-ikon {
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 0.5rem;
        flex-shrink: 0;
    }
    .nav-ikon {
        background-image: url('../../../../../svg/navlogo.svg');
        width: 3.5rem;
    }
    .bruker-ikon {
        background-image: url('../../../../../svg/bruker.svg');
        width: 2.5rem;
        opacity: 0.6;
    }
}
