@nodeModulesPath: '../node_modules/';
@coreModulePath: '../node_modules/';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-typografi-style/src/index';
@import '../node_modules/nav-frontend-chevron-style/src/index';
@import '../node_modules/nav-frontend-knapper-style/src/index';
@import '../node_modules/nav-frontend-ekspanderbartpanel-style/src/index';
@import '../node_modules/nav-frontend-spinner-style/src/spinner-style';
@import '../node_modules/nav-frontend-alertstriper-style/src/index';
@import '../node_modules/nav-frontend-etiketter-style/src/index';
@import '../node_modules/nav-frontend-lenker-style/src/lenker-style';
@import '../node_modules/nav-frontend-skjema-style/src/index';
@import '../node_modules/nav-frontend-modal-style/src/index';
@import '../node_modules/nav-datovelger/dist/datovelger/styles/datovelger.css';

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  color: @navMorkGra;
}

#header .dekorator .dekorator__container {
  max-width: initial;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
