@import "./reset.css" layer(po-base);
@import "tailwindcss";
@import "@navikt/ds-css/darkside" layer(aksel);
@import "./index.less" layer(nav-frontend);

@config "../tailwind.config.js";

.new-modia {
    color: var(--ax-text-neutral);
}

.aksel-theme[data-background="true"].light {
    background-color: var(--ax-bg-sunken);
}

.dekorator {
    h1 {
        font-size: var(--a-font-size-large);
    }
}

@media print {
    .print-hide {
        display: none !important;
    }
}

@media not print {
    .print-only {
        display: none !important;
    }
}

/* Aksel overrides */
.aksel-pagination--invisible {
    visibility: visible;
}
.aksel-table__expanded-row-content {
    padding-top: 0;
}
.aksel-tabs__scroll-button {
    display: none;
}

.aksel-copybutton .aksel-label{
    font-weight: var(--ax-font-weight-regular);
}
