name: Build & deploy to GCP

on:
  push:
    branches: [master]
  issue_comment:
    types: [ created ]
  workflow_dispatch:

env:
    CI: true
    TZ: Europe/Oslo

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
            id-token: write
        outputs:
            image: ${{ steps.docker-build-push.outputs.image }}
        steps:
            - uses: actions/checkout@v6
            - uses: pnpm/action-setup@v4
              with:
                version: 9
                run_install: false
            - uses: actions/setup-node@v6
              with:
                  node-version: '24'
                  cache: 'pnpm'
                  registry-url: https://npm.pkg.github.com
            - name: Install dependencies
              run: pnpm install
              env:
                NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

            - name: Generate source files
              run: pnpm run gen:routes

            - name: Lint
              run: pnpm run lint:ci

            - name: Publish Docker image
              if: github.ref == 'refs/heads/master' || github.event.issue.pull_request != '' && startsWith(github.event.comment.body, '.deploy')
              uses: nais/docker-build-push@v0
              id: docker-build-push
              with:
                team: personoversikt
                identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
                project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
                build_secrets: |
                  node_auth_token=${{ secrets.READER_TOKEN }}

    deploy-dev:
        name: Deploy to dev-gcp
        needs: build
        if: github.ref == 'refs/heads/master' || github.event.issue.pull_request != '' && startsWith(github.event.comment.body, '.deploy')
        environment: dev-gcp
        runs-on: ubuntu-latest
        permissions:
          contents: read
          id-token: write
        steps:
            - uses: actions/checkout@v6
            - uses: nais/deploy/actions/deploy@v2
              env:
                  PRINT_PAYLOAD: true
                  CLUSTER: dev-gcp
                  RESOURCE: .nais/dev.yaml
                  VAR: version=${{ github.sha }},image=${{ needs.build.outputs.image }}

    deploy-prod:
        name: Deploy to prod-gcp
        needs: build
        if: github.ref == 'refs/heads/master'
        environment: prod-gcp
        runs-on: ubuntu-latest
        permissions:
          contents: read
          id-token: write
        steps:
            - uses: actions/checkout@v6
            - uses: nais/deploy/actions/deploy@v2
              env:
                  PRINT_PAYLOAD: true
                  CLUSTER: prod-gcp
                  RESOURCE: .nais/prod.yaml
                  VAR: version=${{ github.sha }},image=${{ needs.build.outputs.image }}
