name: Playwright Tests
on:
  push:
    branches: [ master ]
  pull_request:

env:
  CI: true
  TZ: Europe/Oslo


jobs:
  test:
    permissions:
        packages: write
        contents: read
        id-token: write
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4
      with:
        version: 9
        run_install: false
    - uses: actions/setup-node@v6
      with:
        node-version: '22'
        registry-url: https://npm.pkg.github.com

    - name: Install dependencies
      run: pnpm install
      env:
        NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

    - name: Install Playwright Browsers
      run: pnpm exec playwright install --with-deps

    - name: Run Playwright tests
      run: pnpm exec playwright test

    - uses: actions/upload-artifact@v6
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
